<!-- generate a navigation bar -->
<main class="first-menu" >
  <div class="main-container">
      <h1 class="title">Start Wards</h1>
    <ul>
      <li><a routerLink="/movie">Movie</a></li>
      <li><a routerLink="/character">Character</a></li>
      <li><a href="#">More +</a></li>
    </ul>
  </div>
  <div class="content-init">
      <div class="section-info">
        <h1 class="first-title">Information</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium aperiam cum deleniti doloremque, harum, illum iste modi necessitatibus omnis placeat quia reiciendis rem saepe similique suscipit tempore ut vero?
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consequatur dolorem eveniet maxime quaerat, quam quas quo repudiandae voluptatum! Animi eos magni nemo omnis ratione rerum. Atque blanditiis molestiae rerum.</p>
      </div>
     <div class="btn">
      <button>Learn More</button>
      <button>Sign In</button>
    </div>
  </div>
</main>
<router-outlet></router-outlet>

