.movie-font {
  background-image: url("../../assets/wirteds.jpg");
  background-position: center;
  background-size: cover;
  height: 800px;
}

.card-movie{
  width: 100%;
  background-color: transparent;
}
.movies{
  background-color: transparent;
}

.vehicles{
  color: white;
  background-color: transparent;
  text-align: center;
}
.vehicles > h2{
  background-color: transparent;
}

.vehicles > p{
  background-color: transparent;
}
